@model Packt.Shared.Customer
@{
    ViewData["Title"] = "Customer Detail - " + Model.CustomerID;
}
<h2>Customer Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Customer ID</dt>
        <dd>@Model.CustomerID</dd>
        <dt>Company Name</dt>
        <dd>@Model.CompanyName</dd>
        <dt>Contact</dt>
        <dd>@Model.ContactTitle @Model.ContactName</dd>
        <dt>Country</dt>
        <dd>@Model.Country</dd>
    </dl>
</div>
<a asp-controller="Home" asp-action="DeletedCustomer" asp-route-id="@Model.CustomerID">Delete</a>